*{
    margin: 0;
    padding: 0;
}
/* -------------my acoount/index.html_page---------- */
.my-account-details ul li a{
    color: rgba(0, 0, 0, 0.899);
    font-size: 18px;
    padding: 3px 15px;
    text-decoration: none;
    text-transform: inherit;
    border: 1px solid #ccc;
    text-align: left;
    display: block;
    /* box-shadow: 5px 5px 10px 5px #fff; */
    box-shadow: rgb(56 55 55 / 35%) 3px 3px 2px 0px;
    transform: translate(-2px, -2px);
    
}

.my-account-details ul li a:hover{
  background:linear-gradient(-45deg,#ed1c94,#ffec17);
  
    
}

/* -------------your account.html_page-------------- */
.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   
}
.my-account {
    display: flex;
    /* flex-direction: row; */
    justify-content:center ;
    padding: 20px 15px ;
    margin: 0px 5px;
    width: 95%;
 
}
.profile{
    height: 10px;
    width: 22px;
    padding-top: 16px;
    color: rgb(0, 64, 255);
    
    
    /* padding-right: 10px; */

}
.profile-details{
    padding-left:2px;
    
}
.my-account-details-style{
   /* justify-content: center; */
   /* display: flex;
   flex-direction: column; */
   
}

.my-account-details-style ul {
    list-style: none;
    padding: 0px 50px ;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    
}
.my-account-details-style ul li{
    margin-bottom: 5px;

}
/* .my-account-details ul li a{
    color: rgba(0, 0, 0, 0.899);
    padding: 5px 15px;
    text-decoration: none;
    text-transform: inherit;
    border: 1px solid #ccc;
    text-align: left;
    display: block;
} */

 .form-details{
     text-align: left; 
    
} 

/* .form-details-text {
    
    justify-content: center;
} */
.my-account-details-style li a{
    text-decoration: none;
    color: #000111;
    font-size: 20px;
}
  /*--------------- order-page-section---------------- */
  
  /* .order-container{
     
  } */
  .order-page {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 95%;
    
  }
  .order-page li {
    padding: 10px 15px;
  }
  
  table{
    width: 150%;
    /* height: 20px; */
    margin: 10px 7px;
    border-collapse: collapse;
    
  }
 
  th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    font-weight: normal;
    
  }
  .product-info{
    display: flex;
    flex-direction: row;
    
  }
  .product-info img{
    height: 120px;
    width: 120px;
    margin-top: 8px;
    margin-right: 10px;
    padding: 5px;
  }
   
  .product-details{
    
    padding: 0px 8px;
    margin: 10px 12px;
    line-height: 30px;
    font-size: 17px;
 
  }
  /* th{
    text-align: left;
    padding: 4px;
    color: #fff;
    background-color: #ff523b;
    font-weight: normal;
  } */
.total-price{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    padding-left: 77%;
    line-height: 30px;
  
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 240%;
 
}
td:last-child{
    text-align: right;

}
th:last-child{
    text-align: right;

}
/* -------------media query of my account-section -------------- */
/* media query for lessthan 600 screen */
 @media only screen and (min-width:400px) and (max-width:768px){
    .row{
        text-align:center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size:26px;
        line-height:32px;
    }
    .product-info p{
        display: none;
    }
}

/*-------------------- billing-details-section------------------ */
.billing-container {
 /* max-width: 1440px;
 min-height: 100vh;
 margin: auto;
 display: flex;
 flex-direction: column;
 gap: 5px; */

 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;
 margin: 20px;
 
}

.form-group {
  margin-bottom: 15px;
  line-height: 15px;
 
}
  
  label {
    font-weight: bold;
    font-size: 20px;
    
  }
  
  .form-control {
    display: block;
    width: 90%;
    height: 15px;
    padding: 10px;
    font-size: 16px;
    /* line-height: 1.5; */
    line-height: 20px;
    color: #495057;
    /* background-color: #fff; */
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ccccccd4;
  }
  
  /* .btn-primary {
    display: block;
  } */
  .payment-method{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 60px;
    
    padding-bottom: 30px;
    position: relative;
    /* bottom:30px; */
    top: 15px;
    width: 120%;
    
  }
  /* .cardholder-name{

  } */
  .payment-method .methods{
    border: 1px solid silver;
    border-radius: 5px;
    width: 20%;
    align-items:center;
    padding: 12px 0px;
    gap: 15px;
    position: relative;
    /* bottom: 50px; */
    right:150px;
    top: 40px;

  }
  .payment-method .methods i{
    font-size: 16px;
    color: cornflowerblue;
    
  }
  .payment-method .methods  #checkmark_circle{
    color: aqua;
  }
  /* .input-flex{
   display: flex;
   align-items: center;
   gap: 20px;
  } */
  /* .input-flex .expire-date{
    

  } */

  /* -----------------------------cart section_billing.html------------------------- */
 .cart{
  width:40%;
  display:flex ;
  flex-direction:column;
  justify-content:flex-end;

 }
 .cart-item-box{
  padding: 30px;
  margin-bottom: auto;

 }
 /* .cart .detail .wrapper{
  display: flex;
  gap: 20px;
 } */
 .product-cart{
 margin: 5px;
 gap:15px;
 line-height: 20px;
 display: flex;
 flex-direction:column;
 align-items: flex-start;
 }
 .product-qty{
  display: flex;
  align-items: center;
  gap:10px;
 }
 .product-qty button{
  position:relative;
  top: 2px;
  right: 3px;
  width: 27px;
  height: 30px;
  
 }
 .price button{
  padding: 10px 30px;
  border: 2px solid #ccc;
  border-radius: 2px;
  color: black;
  box-shadow: 3px 3px 5px 2px #888888;
 }
 .price button:hover{
  background-color: cornflowerblue;
  color: #000111;
  /* box-shadow: 3px 3px 6px 3px #888888; */
  
 }

 
 .discount-token{
  padding: 30px;
  height: 70px;
  width: 60%;
  border-top: 1px solid gainsboro;
  border-bottom:1px solid gainsboro ;
  position: relative;
  top: 10px;
 }
 .wrapper-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  
 }
 /* .wrapper-flex input{
  padding: 12px 15px;
  font-weight: 15px;
  line-height: 12px;

 } */
 .btn-outline{ 
  padding: 10px 25px;
  border: 2px solid #ccc;
  border-radius: 2px;
  color: black;

 }
 .btn-outline:hover{
  background-color: cornflowerblue;
  color: #000111;
 }
 .amount{
  padding: 40px;
  color: #495057;
 }
 .amount >div{
  display: flex;
  justify-content: space-between;

  
 }
 .amount .total{
  font-size:18px;
  font-weight:7px;
  color:#000111;
 }

 /* ------------------------wishlist item------------------------- */
 body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
} */
.wishlist{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 20%;
}

h1 {
	margin: 0;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	font-size: 24px;
	/* margin: 0 0 10px; */
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px; 
} 

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
}

li img {
	display: block;
  /* justify-content: space-around; */
	margin: 0 auto 10px;
	max-width: 100%;
}

li h3 {
	font-size: 18px;
	/* margin: 0 0  5px; */
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}


li p {
	font-size: 16px;
	/* margin: 0 0 10px; */
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}


button {
	background-color: #333;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	position: absolute;
	right: 10px;
	top: 160px;
}

.add {
	background-color: green;
   /* margin-top: 150px;
   margin-left: 50px; */
}
.wishlist-tag button{
  margin-left:20px ;
  margin-top: 30px;

}

.remove {
	background-color: red;
}

li{
  border: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
	/* position: relative; */
  display: flex;
  flex-direction: column;

}

/* -----------------your address section ------------- */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  
}

h1 {
  text-align: center;
  font-weight: 500;
}

form {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  line-height: 6px;
  

}

label {
  display: block;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px;
  /* margin-left: 80px; */
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #495057;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 5px;
  /* margin-left: 80px; */
  
}


input[type="submit"] {
  /* background-color: #4CAF50; */
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

  input[type="submit"]:hover {
  background-color: #3e8e41;
}

input:required {
  border-color: #ff0000;
}

input:valid {
  border-color: #00ff00;
} 
/* ----------------user_setting_section----------- */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 15px;
}

h1 {
	margin: 0;
}
h2 {
	margin-top: 5px;
	margin-bottom: 10px;
  line-height: 40px;
}

form {
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 20px;
 
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
 
}

input[type="submit"] {
	background-color: #333;
	border: none;
	color: #fff;
	cursor: pointer;
	margin-top: 10px;
	padding: 10px 20px;
}

input[type="submit"]:hover {
	background-color:#3e8e41;
}



